*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styles */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.bg-dark-blue{
 color: #1A0B2E;
}
.bg-dark-navy{
    background-color: #1A0B2E;
}
.display-flex{
    display: flex;
    align-items: center;
}
.color-white{
    color: #FFFFFF;
}
.primary-btn{
       border-radius: 100px;
       background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
       color: #FFFFFF;
       
       padding: 16px;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 1rem;
       font-weight: 600;
       border: none;
       cursor: pointer;
       gap: 4px;
       
       
}
.btn-link{
    text-decoration: none;
    width: 135px;
    height: 44px;
}
.color-linear{
    /* color: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%); */
    background: linear-gradient(47.64deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
/* Navbar Styles  */
.nav-item{
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-links{
    text-decoration: none;
    gap: 32px;
    cursor: pointer;
    opacity: 0.9;
    /* margin-bottom: 24px; */
    display: flex;
    margin: 0 auto;

}
.navbar{
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar h3{
    font-size: 1.75rem;
    font-weight: 800;
    padding-left: 100px;
}
.nav-menu{
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: space-between;
}
.nav-button{
    /* margin-bottom: 24px; */
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

/* banner styles */
#banner{
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 101px 0;
    background-color: #1A0B2E;
}
.banner-info .banner-heading{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;

}
.banner-info .banner-description{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 24px;

}
.secondary-btn{
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #00FF88;
    color: #1A0B2E;
    width: 75px;
    height: 37px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    z-index: 3;
}

.banner-image{
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-image .hero-circle{
    width: 100%;
    height: 100%;
}
.mic-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 117px;
    z-index: 2;
}
.banner-button{
    display: flex;
    gap: 8px;
}
.banner-button #spotify-btn{
    width: 201px;
    height: 44px;
}
.banner-button #subscribe-btn{
 width: 144px;
 height: 44px;
 border-radius: 100px;
 color: #00FF88;
 background-color: transparent;
 font-size: 1rem;
 font-weight: 600;
 border: 1px solid #00FF88;
 cursor: pointer;
 gap: 8px;
 align-items: center;
 justify-content: center;
}
/* about section styles  */
#about{
    background-color: #1A0B2E;
}


.about-container{
    flex-direction: column;
    
}
.section-title{
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin-top: 50px;
}
.section-title h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.section-title p{
    font-weight: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;

}
.review-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 160px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}
.review-card h2{
    color: #00FF88;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 16px;
}
.review-card p{
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    font-size: 1rem;
    line-height: 20px;
    padding-bottom: 120px;
}

/* why section styles  */
#why{
    background-color: #230E3D;
    padding: 120px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.why-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}
.why-card-info{
    background-color: rgba(53, 17, 101, 0.4);
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;


}
.why-card{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;

}
.why-card-info h4{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;

}
.why-card-info p{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    margin-bottom: 16px;
}
.why-card-info img{
    width: 60px;
    height: auto;
    margin-bottom: 16px;
}

.card-audio{
    grid-row: span 2;
    justify-content: center;
}
.card-mobile, .card-global{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-interviews{
    grid-column: span 2;
}
.card-resources{
    grid-column: span 1;
}
.card-text{
    display: flex;
    flex-direction: column;
    
}

/* feature section styles  */
#feature{
    background-color: #1A0B2E;

}
.feature-container{
    padding-bottom: 120px;
}
.feature-container h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 40px;
}
.feature-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}
.feature-card{
    background-color: #250D44;
    border-radius: 20px;
}
.feature-card iframe{
    border-radius: 20px;
}
.feature-card-info{
    padding: 24px;
}
.feature-card-info h4{
 color: #FFFFFF;
 font-size: 1.5rem;
 font-weight: bold;
 margin-bottom: 12px;
}
.feature-card-info p{
 color: rgba(255, 255, 255, 1);
 opacity: 0.5;
 font-size: 1rem;
 line-height: 24px;
}
.feature-card-icons{
    display: flex;
    gap: 8px;
    padding-left: 20px;
    margin-bottom: 24px;
}
.feature-card-icons p{
    color: #00FF88;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
}
.feature-card-icons img{
    height: 20px;
    width: 20px;
}
/* meet section styles  */
#meet{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
#meet h2{
   font-size: 3rem;
   font-weight: bold;
   color: #FFFFFF; 
   text-align: center;
   margin-bottom: 40px;
}
.meet-container{
    background-color: rgba(53, 17, 101, 0.4);
    max-width: 1200px;
    margin: 0 auto;
    /* justify-content: center; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 40px;
}
.meet-text h3{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.meet-text p{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    margin-bottom: 16px;
}
.meet-social{
    gap: 8px;
    display: flex;
}
.meet-social img{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #9100F8;
    cursor: pointer;
    transition: 0.3s;
}

/* footer section styles  */
#footer{
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 350px;
    /* max-width: 1600px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.footer-heading h2{
    font-size: 3.75rem;
    font-weight: 800;
    /* width: 410px; */
    height: auto;
}
.footer-social{
    gap: 10px;
}
.footer-contact{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 32px;
    cursor: pointer;
    max-width: 1360px;
    width: auto;
}
.footer-contact p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.footer-metadata small{
     color: rgba(255, 255, 255, 1);
     opacity: 0.5;
    font-size: 1rem;
    line-height: 24px;
}
.hamburger{
    display: none;
}

/* Responsive Media Style  */
@media screen and (max-width:576px) {
    .navbar{
        justify-content: space-between;
        padding: 15px 20px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .nav-menu{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #1A0B2E;
        flex-direction: column;
        padding: 20px;
        z-index: 10;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .nav-button{
    padding-right: 1px;
    }
    #menu-toggle:checked ~ .nav-menu{
        display: flex;
    }
    .navbar h3{
    padding-left: 20px;
    }
    .nav-button{
        justify-content: center;
        margin-bottom: 24px;
    }
    .navbar .nav-button{
        margin-bottom: 0;
    }
    .nav-links{
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }
    #banner{
    background-position: center;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 0 auto; */
    padding: 100px 20px;
    max-width: 576px;
    background-color: #1A0B2E;
    }
    .banner-image{
        width: 280px;
        height: 280px;
        margin-bottom: 30px;
    }
    .hero-circle{
        width: 200px;
        height: auto;
    }
    .mic-icon{
        width: 80px;
    }
    .secondary-btn{
        top: 15px;
        right: 15px;
        width: 65px;
        height: 32px;
    }

    #about{
        padding: 40px 20px;
    }
    .review-container{
        grid-template-columns: repeat(2, 1fr);
    }
    #why{
    padding: 20px;
    }
    .why-card{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .why-card-info p{
        text-align: left;
    }
    .card-audio{
    grid-row: span 1;
    justify-content: center;
    }
    .card-mobile, .card-global{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    .card-interviews, .card-resources{
    grid-column: span 1;
    }
    .feature-card-container{
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        margin: 0 auto;
        justify-content: center;
        gap: 16px;
        padding: 20px;
    }
    .feature-container{
    padding-bottom: 60px;
    }
    .feature-card-info h4, .feature-card-info p{
        text-align: left;
    }
    .feature-card iframe{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
    #meet{
    background-color: #1A0B2E;
    padding-bottom: 40px;
}
#meet h2{
   margin-bottom: 16px;
}
.meet-container{
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.meet-text h3, p{
    text-align: center;
}
.meet-social{
    align-items: center;
    justify-content: center;
}

.footer-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    gap: 16px;
    width: auto;
    /*
    margin-top: 32px;
    margin-bottom: 32px;
    cursor: pointer;
    max-width: 1360px;
    width: auto; */
}
.footer-container{
    padding: 40px 20px;
}
}